/*.exi

!/ThaiNoopt.exi
!/ThaiNooptB.exi

!/SpecExample.exi
!/SpecExampleB.exi

!/BasicNoopt.exi
!/BasicNooptB.exi

!/NamespaceNoopt.exi
!/NamespaceNooptB.exi

!/CustomersNoopt.exi
!/CustomersNooptB.exi

!/Orders.exi
!/LineItem.exi
!/Treebank.exi
